@font-face {
    font-family: 'Hurme Geometric';
    src: url('Hurme\ Geometric\ Sans\ 1\ W03\ Bold.ttf') format('truetype');
    src: url('Hurme\ Geometric\ Sans\ 1\ W03\ Bold.woff') format('woff');
    src: url('Hurme\ Geometric\ Sans\ 1\ W03\ Bold.woff2') format('woff2');
    font-style: normal;
}